<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>imozuru</title>
</head>
<body>
    <div class="container">
        <h1>imozuru</h1>
        <form class="form-search">
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="input keyword" id="txtKeyword" required autofocus>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-md btn-block btn-primary search" type="button">search tweet</button>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="container">
                <ul id="searchResults"></ul>
            </div><!-- container -->
        </div><!-- row -->
        <div class="col-xs-6">
            <div class="container">
                <ul id="pullResults"></ul>

            </div><!-- container -->
        </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>